# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# TexFiles
*.aux
RDD.log
*.gz
*.toc

# mehkir specific ignores
Dokumentation/Teildokumente/
Projek/x86
.DS_STORE

